<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" >
    <title>@section('title', 'UI Extension')</title>
    <link rel="stylesheet" href="https://contentful.github.io/ui-extensions-sdk/cf-extension.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    

    @!section('styles')
    @section('style') 
        <style type="text/css">
            .markdown-editor .markdown-body {
                padding: 0.5em;
            }

            .markdown-editor .editor-preview-active, .markdown-editor .editor-preview-active-side {
                display: block;
            }

            .repeater-item {
                padding: 30px 30px 30px 45px;
                border: 1px solid #d3dce0;
                border-radius: 2px;
                position: relative;
            }

            .repeater-handle {
                position: absolute;
                background-color: rgb(247, 249, 250);
                left: 0;
                top: 0;
                bottom: 0;
                width: 15px;
                border-right: 1px solid #d3dce0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .item-controls {
                padding: 0.5em;
                position: absolute;
                top: 0;
                right: 0;
            }
        </style>
    @endsection

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>
    <script src="https://unpkg.com/contentful-ui-extensions-sdk@3"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="{{ componentPath }}icon.js"></script>
    <script src="{{ componentPath }}item.js"></script>
    <script src="{{ componentPath }}repeater.js"></script>
    <script src="{{ componentPath }}markdown.js"></script>
    @!section('scripts')
</head>

<body>
<div id="app">
    @!section('template')
</div>

<script type="text/javascript">
  'use strict';
</script>

@!section('script')

@if(preview)
  <script type="text/javascript">
     let extensionsApiMock = {
        window: {
            startAutoResizer() {

            }
        },
        field: {
            getValue() {

            },
            setValue(value) {
                console.log('value set', value)
            },
            removeValue() {

            }
        }
    };

    initExtension(extensionsApiMock)
  </script>
@else
  <script type="text/javascript">
    window.contentfulExtension.init(initExtension);
  </script>
@endif

</body>

</html>